<!DOCTYPE html>
<html lang="en">
<head>

  <title>About</title>
  <link rel="icon" href="/image/download.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was ceated by Rachid Bouain. It uses data from mapbox.com and darksky.net!</p>
    <img class="portrait" src="/image/me.jpg" alt="Rachid">
  </div>

  {{>footer}}
  <script src="/script/app.js"></script>
</body>
</html>
